{% extends 'main/base.html' %}

{% block title %} Django note {% endblock %}

{% block content %}
<style>
    .add_note_container{
        display: flex;
        flex-direction: column;

    }

    .add_button{
        height: 50px;
        width: 200px;
        border-radius: 10px;
        border: 0;
        background-color: rgb(216, 133, 7);
        color: white;
        font-style: bold;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;


    }
    .list_of_notes{
        border-style: groove;
        border-radius: 5px;
        color: white;
        white-space: pre-wrap;
        
    }
    .format_of_write_data{
        display: flex;
        max-height: 100px;
        width: 100%;
        border-radius: 20px;
    }
</style>

<form action="" method="POST">
    {% csrf_token %}
    <div class="add_note_container">
        {{ form.as_p }}
        <button name = "D_button" value="D_button" class="add_button">Add note</button>   
        {% for instance in object_list %}
        <ul class = "list_of_notes">{{ instance.data_django }}</ul>
        {% endfor %}
    </div>
</form>
{% endblock %}