{% extends 'main/base.html' %}



{% block title %}
Home
{% endblock %}

{% block content %}

<style>
  .base_content{
    display: flex;
    }
  .moduls_list{
    margin-right: 10px;
    color: white;
  }
  .modul_text{
    margin-right: 70px;
  }
  .choose_modul_time{
    display: flex;
    margin-top: 20px;
    margin-left: -150px;

  }
  .generete_modul{
    margin-right: 9px;
    border-radius: 20px;
    background-color: rgb(216, 133, 7);
    color: white;
    font-style: bold;
  }
  .modul_text_random{
    flex: 1;
    max-width: 257px;
    color: white;
  }
  .hour_list{
    color: white;
  }
  .hours_text{
    color: white;
  }
</style>

<div class="base_content"> 
    <div class="moduls_list">
      <h3 class="modul_text">Django</h3>
      <h3 class="modul_text">Flask</h3>
      <h3 class="modul_text">Pygame</h3>
      <h3 class="modul_text">Git/Linux</h3>
      <h3 class="modul_text">PyQt5</h3>
      <h3 class="modul_text">Something new</h3>
    </div>
    <div class="hour_list">
      <h3>{{object.Django_hour}} hours</h3>
      <h3>{{object.Flusk_hour}} hours</h3>
      <h3>{{object.Pygame_hour}} hours</h3>
      <h3>{{object.Git_Linux_hour}} hours</h3>
      <h3>{{object.PyQt5_hour}} hours</h3>
      <h3>{{object.Some_new_hour}} hours</h3>
    </div>
</div>
<form action="" method="GET">
  {% csrf_token %}
  <div class="choose_modul_time">
    <button type="submit" class="generete_modul" name="generate_button" value="generate_button">Choose randomly</button>
    <h3 class="modul_text_random">{{modul}}</h3>
    <h3 class="hours_text">{{hour}} hours</h3>
  </div>
</form>
{% endblock %}